body{
    background-color: #ADD8E6;
}
.main{
    height: 100%;
    margin: auto;
    /*display: inline-flex;*/

}

fieldset{
    margin-top: 10%;
    height: 300px;
    width: 350px;
    border-radius: 40px;
    text-align: center;
    box-sizing: border-box;

}

#prethodna{
    float: left;
    margin-left: 10%;

}
#trenutna{
    float: left;
    margin-top: 4%;
    height: 400px;

}
#sljedeca{
    float: left;
}
.vecaSlova{
    font-size: large;
}

@media only screen and (max-width: 600px){
    #prethodna{
        display: none;
    }
}