body{
    background-color: #ADD8E6;
}
.main{
    margin: 10px;
    display: inline-block;
}

fieldset{
    margin-top: 10%;
    height: 300px;
    width: 350px;
    border-radius: 40px;
    text-align: center;

}
#prethodna{
    float: left;
    margin-left: 10%;
}
#trenutna{
    height: 400px;
    float: left;
}
#sljedeca{
    float: left;
}
.vecaSlova{
    font-size: large;
}