body {
    text-align: center;
    display: block;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
tr:hover{
    border-style: solid;
}