#okvir {
    display: inline-grid;

    background-color: lightgray;
    margin: 5%;
}
#okvir2{
    display: grid;
    grid-template-columns:2fr repeat(27, 1fr);
    grid-template-rows: 30px repeat(5, 1fr);
    grid-auto-flow: row;
    background-color: lightgray;
    margin: 5%;
}
.grid-item{
    background-color: azure;

}
.red1{
    border-top-style: solid;

}
.crta{
    border-right-style: solid;
    border-bottom-style: solid;
}
.crtice{
    border-right-style: dashed;
    border-bottom-style: solid;
}
#Ponedjeljak{
    order: 1;
}
#Utorak{
    order: 2;
}
#Srijeda{
    order: 3;
}
#Četvrtak{
    order: 4;
}
#Petak{
    order: 5;
}




.imePredmeta{
    font-size: large;
    font-weight: bold;

}

.red0,.kolona0{
    background-color: white;
}
.kolona0{
    text-align: center;
    vertical-align: center;
}
.red0{
    border-bottom-style: solid;
}
.red1{
    border-top-style: none;
}
#prazno{
    background-color: white;
}
@media only screen and (max-width: 600px){
    #okvir{
        display: inline-grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        margin-top: 5%;
        border-style: solid;
        border-bottom-style: none;

    }
    #okvir2{
        display: inline-grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        margin-top: 5%;
        border-style: solid;
        border-bottom-style: none;

    }

    .kolona0{
        grid-area: auto / 1 / auto / 1 !important;
        border-style: none !important;
        border-bottom-style: solid !important;
    }
    .grid-item{
        grid-area: auto / 1 / auto / 1 !important;
    }
    .grid-item{
        border-right-style: none !important;
        border-bottom-style: solid !important;


    }


    .red0{
        display: none;
    }
    .crta{
        display: none;
    }
    .crtice{
        display: none;
    }
    .red1{
        border-top-style: solid;
    }
    .grid-item{
        grid-area: auto;
    }

}